*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}


.content-container{
    /* background: rgb(247, 247, 247); */
    margin:0 auto;
    border-radius: 50px;
   margin-bottom: 150px;
   margin-top: 100px;
  

}
.cards-container{
    background-color: rgb(243, 243, 243);
    width:80vw;
    margin:0 auto;
    border-radius: 100%;
    margin-top: 100px;
}


.cards{
    display:flex;
   
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

}
.card{
    width: 100%;
    padding-bottom:20px;
    padding:20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
    background:white;
    margin:10px 40px;
    transition: 0.3s;
}
/* .cards .card img{
    height: 200px;
    width: 300px;
    object-fit: cover;
    overflow: hidden;
} */
.card p li{
    text-align: start;
    padding: 10px;
    margin: 10px;
}
.cards .card h2{
    padding:10px;
    font-weight: 600;
    line-height: 40px;
    font-size: 1.2rem;
}
.cards .card h5{
    padding:0;
    color:rgb(129, 127, 127);
    /* margin:0; */
}
.cards .card p{
    padding:10px;
}
.cards .card h4{
    padding:8px;
    color:rgb(199, 20, 20);
}

.cards .card button{
    background-color: rgb(61,175,181);
    width:150px;
    height:40px;
    border-radius: 3px;
    font-size: 1rem;
    border-style: none;
    font-weight: 500;
}
.cards .card button:hover{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid rgb(45, 143, 148);
}
.category-container{
    /* background-color: rgb(247, 247, 247); */
    border-radius: 50px;
    width:80%;
    margin:0 auto;
    margin-top: 100px;
}
.category-container  select{
    background-color: transparent;
    width:190px;
    height: 40px;
    border: 1px solid ;
    border-color: rgb(57,62,71);
    padding:10px;
    font-size: 1rem;
    
}

.category-container  label{
    padding-right: 10px;
}

@media only screen and (max-width: 700px) {
    .cards-container{
        width:90vw;
    }
}
@media only screen and (max-width: 600px) {
    .cards-container{
        width:100vw;
    }
    .card{
        /* margin-left:25px;
        margin-right:25px; */
        padding:5px;
    }
}
/*.content .cards{
    background-color: rgb(61,175,181);
    background-color: black; 
    color:rgb(0, 0, 0);
    width:300px;
    height:100px;
    font-size: 1rem;
    border-style: none;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.2px;
}*/    
